# Ignore IDE files
.vscode
.idea

# build, logs and coverage files
node_modules
build
dist
.*local
.env*
*.log
coverage

npm-debug.log
yarn-debug.log
yarn-error.log
*.tsbuildinfo
playwright-report
test-results
.editorconfig
README.md
.github
e2e
tests

.husky
.DS_Store
Thumbs.db

.next
.git
.gitignore
*.md

# GraphQL Codegen
src/gql
src/server/generated/server.ts
src/**/generated/schema.graphql
src/graphql/generated/
src/server/generated/
*.snap
